body {
    --cell-size: 24px;
}

.container {
    --rows: 10;
    --columns: 10;
    display: grid;
    grid-template-rows: repeat(var(--rows), var(--cell-size));
    grid-template-columns: repeat(var(--columns), var(--cell-size));
    gap: 0px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
    background-color: black;
    position: relative;
}

.block-cell {
    --color: #333;
    background-color: var(--color);
}

.block-cell::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset -2px -2px black,
        inset 2px 2px white;
    opacity: 30%;
}

.hollow-cell::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset -2px -2px var(--color),
        inset 2px 2px var(--color);
}